---
interface Props {
  ribblrLink?: string;
  etsyLink?: string;
  ravelryLink?: string;
}
const { ribblrLink, etsyLink, ravelryLink } = Astro.props;
---

<p>
  Want to make it yourself? Get the pattern on:
  {
    ribblrLink && (
      <a href={ribblrLink} target='_blank' class='mx-1'>
        | Ribblr |
      </a>
    )
  }

  {
    etsyLink && (
      <a href={etsyLink} target='_blank' class='mx-1'>
        | Etsy |
      </a>
    )
  }

  {
    ravelryLink && (
      <a href={ravelryLink} target='_blank' class='mx-1'>
        | Ravelry |
      </a>
    )
  }
</p>
